<!DOCTYPE html>
<html lang="en">
  {%load static%}
        <head>
            <title>
                DashBoard
            </title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
            <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>          
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            {%block headlinks%}
            {%endblock%}
    {%block style%}
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>     
    {%endblock%}       
</head>

<body>
    {%block navbar%}
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Bothra Classes</a>
  {%block navbarlink%}

  {%endblock%}
  </nav>
    {%endblock%}
    {%block body%}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Starter Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  {%endblock%}
  {%block footer%}
  <footer class="page-footer green" style="position: absolute;right: 0;bottom: 0;left: 0;padding: 1rem;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Bothra Classes</h5>
          <p class="grey-text text-lighten-4">Created By Bothra Alumnus</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made from <a class="green-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  {%endblock%}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{%static 'js/materialize.js' %}"></script>
  <script src="{%static 'js/init.js' %}"></script>
  </body>
</html>